<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itqf.mapper.SceneMapper">
  <resultMap id="BaseResultMap" type="com.itqf.pojo.Scene">
    <id column="sceneid" jdbcType="INTEGER" property="sceneid" />
    <result column="scenename" jdbcType="VARCHAR" property="scenename" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="ifon" jdbcType="VARCHAR" property="ifon" />
  </resultMap>
  <sql id="Base_Column_List">
    sceneid, scenename, status, imgurl, ifon
  </sql>
  <select id="findByIfon" resultMap="BaseResultMap">
    select * from scene where ifon='false'
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scene
    where sceneid = #{sceneid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scene
    where sceneid = #{sceneid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itqf.pojo.Scene">
    insert into scene (sceneid, scenename, status, 
      imgurl, ifon)
    values (#{sceneid,jdbcType=INTEGER}, #{scenename,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{imgurl,jdbcType=VARCHAR}, #{ifon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itqf.pojo.Scene">
    insert into scene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sceneid != null">
        sceneid,
      </if>
      <if test="scenename != null">
        scenename,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="ifon != null">
        ifon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sceneid != null">
        #{sceneid,jdbcType=INTEGER},
      </if>
      <if test="scenename != null">
        #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="ifon != null">
        #{ifon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itqf.pojo.Scene">
    update scene
    <set>
      <if test="scenename != null">
        scenename = #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="ifon != null">
        ifon = #{ifon,jdbcType=VARCHAR},
      </if>
    </set>
    where sceneid = #{sceneid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itqf.pojo.Scene">
    update scene
    set scenename = #{scenename,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      ifon = #{ifon,jdbcType=VARCHAR}
    where sceneid = #{sceneid,jdbcType=INTEGER}
  </update>
</mapper>